<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link th:href="@{/css/main.css}" rel="stylesheet" />

    <title>Main Page</title>
</head>

<body>

    <table>
        <thead>
            <tr>
                <th>번호</th>
                <th>이름</th>
                <th>전화</th>
                <th>성별</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="member: ${memberList}">
                <td><span th:text="*{member.id}">id</span></td>
                <td><span th:text="*{member.name}">name</span></td>
                <td><span th:text="*{member.phone}">phone</span></td>

                <th:block th:if="*{member.id} == 1">
                    <td><span>남자</span></td>
                </th:block>
                <th:block th:unless="*{member.id} == 1">
                    <td><span>여자</span></td>
                </th:block>

            </tr>
        </tbody>
    </table>

</body>

<script type="text/javascript" th:src="@{/js/element.js}"></script>

</html>